## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
app_data_df = application_df.drop(columns='EIN').drop(columns='NAME')

app_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
app_data_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
app_type = app_data_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(app_type[app_type < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
classification = app_data_df['CLASSIFICATION'].value_counts()
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_greater = classification[classification > 1]
class_greater

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification[classification < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummy_app_df = pd.get_dummies(app_data_df)
dummy_app_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [ ]:
# Split our preprocessed data into our features and target arrays
X = dummy_app_df.drop('IS_SUCCESSFUL', axis=1).values
y = dummy_app_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=25, activation='relu', input_dim=116))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=50, activation='relu'))
nn_model.add(tf.keras.layers.Dense(units=50, activation='relu'))
nn_model.add(tf.keras.layers.Dense(units=50, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 25)                             2,925

 dense_1 (Dense)                       (None, 50)                             1,300

 dense_2 (Dense)                       (None, 50)                             2,550

 dense_3 (Dense)                       (None, 50)                             2,550

 dense_4 (Dense)                       (None, 1)                                 51

 Total params: 9,376 (36.62 KB)

 Trainable params: 9,376 (36.62 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804  4s 5ms/step - accuracy: 0.7358 - loss: 0.5340
Epoch 2/50
804/804  4s 4ms/step - accuracy: 0.7377 - loss: 0.5354
Epoch 3/50
804/804  4s 3ms/step - accuracy: 0.7417 - loss: 0.5312
Epoch 4/50
804/804  2s 3ms/step - accuracy: 0.7360 - loss: 0.5373
Epoch 5/50
804/804  3s 4ms/step - accuracy: 0.7461 - loss: 0.5272
Epoch 6/50
804/804  2s 2ms/step - accuracy: 0.7415 - loss: 0.5337
Epoch 7/50
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5311
Epoch 8/50
804/804  3s 2ms/step - accuracy: 0.7372 - loss: 0.5340
Epoch 9/50
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5331
Epoch 10/50
804/804  3s 3ms/step - accuracy: 0.7415 - loss: 0.5335
Epoch 11/50
804/804  2s 3ms/step - accuracy: 0.7353 - loss: 0.5365
Epoch 12/50
804/804  2s 2ms/step - accuracy: 0.7429 - loss: 0.5310
Epoch 13/50
804/804  3s 2ms/step - accuracy: 0.7328 - loss: 0.5394
Epoch 14/50
804/804  2s 2ms/step - accuracy: 0.7427 - loss: 0.5317
Epoch 15/50
804/804  2s 2ms/step - accuracy: 0.7409 - loss: 0.5321
Epoch 16/50
804/804  4s 4ms/step - accuracy: 0.7378 - loss: 0.5347
Epoch 17/50
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5316
Epoch 18/50
804/804  2s 2ms/step - accuracy: 0.7428 - loss: 0.5300
Epoch 19/50
804/804  3s 2ms/step - accuracy: 0.7446 - loss: 0.5289
Epoch 20/50
804/804  2s 2ms/step - accuracy: 0.7415 - loss: 0.5313
Epoch 21/50
804/804  2s 2ms/step - accuracy: 0.7384 - loss: 0.5314
Epoch 22/50
804/804  2s 3ms/step - accuracy: 0.7387 - loss: 0.5337
Epoch 23/50
804/804  2s 3ms/step - accuracy: 0.7428 - loss: 0.5283
Epoch 24/50
804/804  2s 2ms/step - accuracy: 0.7463 - loss: 0.5241
Epoch 25/50
804/804  2s 2ms/step - accuracy: 0.7457 - loss: 0.5266
Epoch 26/50
804/804  2s 2ms/step - accuracy: 0.7421 - loss: 0.5282
Epoch 27/50
804/804  3s 2ms/step - accuracy: 0.7432 - loss: 0.5266
Epoch 28/50
804/804  2s 3ms/step - accuracy: 0.7401 - loss: 0.5307
Epoch 29/50
804/804  3s 3ms/step - accuracy: 0.7403 - loss: 0.5315
Epoch 30/50
804/804  4s 2ms/step - accuracy: 0.7420 - loss: 0.5316
Epoch 31/50
804/804  2s 2ms/step - accuracy: 0.7428 - loss: 0.5276
Epoch 32/50
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5304
Epoch 33/50
804/804  4s 3ms/step - accuracy: 0.7435 - loss: 0.5273
Epoch 34/50
804/804  2s 3ms/step - accuracy: 0.7434 - loss: 0.5259
Epoch 35/50
804/804  2s 2ms/step - accuracy: 0.7426 - loss: 0.5279
Epoch 36/50
804/804  2s 2ms/step - accuracy: 0.7426 - loss: 0.5290
Epoch 37/50
804/804  3s 2ms/step - accuracy: 0.7436 - loss: 0.5293
Epoch 38/50
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5287
Epoch 39/50
804/804  4s 3ms/step - accuracy: 0.7478 - loss: 0.5267
Epoch 40/50
804/804  4s 2ms/step - accuracy: 0.7443 - loss: 0.5285
Epoch 41/50
804/804  2s 2ms/step - accuracy: 0.7425 - loss: 0.5273
Epoch 42/50
804/804  3s 2ms/step - accuracy: 0.7401 - loss: 0.5310
Epoch 43/50
804/804  4s 4ms/step - accuracy: 0.7432 - loss: 0.5267
Epoch 44/50
804/804  2s 3ms/step - accuracy: 0.7437 - loss: 0.5286
Epoch 45/50
804/804  2s 2ms/step - accuracy: 0.7428 - loss: 0.5254
Epoch 46/50
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5291
Epoch 47/50
804/804  2s 2ms/step - accuracy: 0.7462 - loss: 0.5229
Epoch 48/50
804/804  3s 3ms/step - accuracy: 0.7430 - loss: 0.5293
Epoch 49/50
804/804  4s 5ms/step - accuracy: 0.7389 - loss: 0.5308
Epoch 50/50
804/804  3s 3ms/step - accuracy: 0.7427 - loss: 0.5240

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.7294 - loss: 0.5652
Loss: 0.5652412176132202, Accuracy: 0.7294460535049438

In [ ]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.